contrib
google-auth
google-auth-oauthlib
google-pasta
graphviz
gTTS
gTTS-token
imageio
importlib-metadata
imutils
ipykernel
ipython
joblib
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
notebook
numpy
pandas
pickleshare
Pillow
playsound
pyttsx3
scikit-learn
scikit-video
scipy
seaborn
SpeechRecognition
tensorboard
tensorflow
tensorflow-estimator
tflearn
ttkthemes
virtualenv
virtualenvwrapper-win
XlsxWriter
zipp


# Install PyAudio @ file:PyAudio-0.2.11-cp37-cp37m-win_amd64.whl by downloading from https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyaudio
